* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
* body header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  box-shadow: 2px 2px 4px #000000;
  padding: 10px;
  align-items: center;
}
* body header nav {
  display: flex;
  align-items: center;
}
* body header nav figure {
  width: 15%;
  margin-right: 25px;
}
* body header nav figure img {
  width: 100%;
}
* body header nav ul {
  display: flex;
  list-style: none;
}
* body header nav ul li {
  padding: 10px;
}
* body header nav ul li a {
  text-decoration: none;
  color: black;
}
* body header nav ul li a:hover {
  color: #3e5eb2;
}
* body header nav ul #dropdown {
  position: relative;
  display: inline-block;
}
* body header nav ul #dropdown button {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background-color: #3e5eb2;
  color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
* body header nav ul #dropdown #dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
* body header nav ul #dropdown #dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
* body header nav ul #dropdown #dropdownContent a:hover {
  color: #3e5eb2;
}
* body header nav ul #dropdown:hover #dropdownContent {
  display: flex;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  flex-direction: column;
}
* body header form {
  display: flex;
  flex-direction: column;
  width: 22%;
}
* body header form .s-box {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
* body header form .s-box input {
  padding: 5px;
  border-radius: 6px;
}
* body header form .s-box #input {
  border: solid 1px grey;
  position: absolute;
  width: 16%;
}
* body header form .s-box .fa-magnifying-glass {
  position: relative;
  right: 6px;
  color: grey;
}
* body header form ul {
  list-style: none;
  position: absolute;
  background-color: #eee;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 44px;
  right: 35px;
  border-radius: 0 0 30px 30px;
}
* body header form ul li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
* body #wrapper main #contenu h1 {
  text-align: center;
  margin-top: 30px;
}
* body #wrapper main #contenu h2, * body #wrapper main #contenu .FeaturedMovies {
  padding: 25px 85px;
}
* body #wrapper main #contenu #actorDetailSection, * body #wrapper main #contenu #producerDetailSection, * body #wrapper main #contenu #genreDetailSection {
  height: 100vh;
}
* body #wrapper main #contenu .movieDesc, * body #wrapper main #contenu .FeaturedMovies, * body #wrapper main #contenu #listActors, * body #wrapper main #contenu #RolesSection {
  margin: 60px 0;
}
* body #wrapper main #contenu .FeaturedMovies {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
* body #wrapper main #contenu .FeaturedMovies a {
  width: 21%;
  text-decoration: none;
  color: black;
}
* body #wrapper main #contenu .FeaturedMovies a figure {
  width: 100%;
  margin-bottom: 20px;
  transition: transform 0.2s;
}
* body #wrapper main #contenu .FeaturedMovies a figure img {
  width: 100%;
  border-radius: 20px;
}
* body #wrapper main #contenu .FeaturedMovies a figure figcaption {
  text-align: center;
}
* body #wrapper main #contenu .FeaturedMovies a figure:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
* body #wrapper main #contenu .movieDesc {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}
* body #wrapper main #contenu .movieDesc figure {
  width: 30%;
}
* body #wrapper main #contenu .movieDesc figure img {
  width: 100%;
  border-radius: 20px;
}
* body #wrapper main #contenu .movieDesc .descrition {
  width: 33%;
}
* body #wrapper main #contenu .movieDesc .descrition h1 {
  margin-bottom: 50px;
}
* body #wrapper main #contenu .movieDesc .descrition .movieCast .movieCastTitle {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
* body #wrapper main #contenu .movieDesc .descrition .movieCast .movieCastTitle a {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  margin-left: 20px;
}
* body #wrapper main #contenu .movieDesc .descrition .movieCast .movieCastTitle a:hover {
  background-color: #3e5eb2;
}
* body #wrapper main #contenu .movieDesc .descrition a {
  text-decoration: none;
  color: #3e5eb2;
}
* body #wrapper main #contenu .movieDesc .descrition a:hover {
  color: black;
}
* body #wrapper main #contenu .movieDesc .trailer {
  width: 100%;
  margin-top: 54px;
  display: flex;
  justify-content: center;
}
* body #wrapper main #contenu .movieDesc .trailer iframe {
  width: 858px;
  height: 480px;
}
* body #wrapper main #contenu #listActors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
* body #wrapper main #contenu #listActors .actorInfo {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 20%;
}
* body #wrapper main #contenu #listActors a {
  color: black;
  text-decoration: none;
}
* body #wrapper main #contenu #listActors a:hover {
  color: #3e5eb2;
}
* body #wrapper main #contenu #RolesSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
* body #wrapper main #contenu #RolesSection .roleList {
  padding: 13px;
  width: 20%;
}
* body #wrapper main #contenu #RolesSection .roleList a {
  text-decoration: none;
  color: black;
}
* body #wrapper main #contenu #RolesSection .roleList a:hover {
  color: #3e5eb2;
}
* body #wrapper main #contenu .producerSection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80vh;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
* body #wrapper main #contenu .producerSection .producerList {
  padding: 13px;
  width: 20%;
}
* body #wrapper main #contenu .producerSection .producerList a {
  text-decoration: none;
  color: black;
}
* body #wrapper main #contenu .producerSection .producerList a:hover {
  color: #3e5eb2;
}
* body #wrapper main #contenu .genreSection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80vh;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
* body #wrapper main #contenu .genreSection a {
  padding: 13px;
  text-decoration: none;
  color: black;
}
* body #wrapper main #contenu .genreSection a:hover {
  color: #3e5eb2;
}
* body #wrapper main #contenu #producerDetailSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 13px;
}
* body #wrapper main #contenu #producerDetailSection figure {
  width: 30%;
}
* body #wrapper main #contenu #producerDetailSection figure img {
  width: 100%;
  border-radius: 20px;
}
* body #wrapper main #contenu #actorDetailSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 13px;
}
* body #wrapper main #contenu #actorDetailSection figure {
  width: 30%;
}
* body #wrapper main #contenu #actorDetailSection figure img {
  width: 100%;
  border-radius: 20px;
}
* body #wrapper main #contenu #genreDetailSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 79px;
  flex-wrap: wrap;
}
* body #wrapper main #contenu #genreDetailSection a {
  text-decoration: none;
  color: black;
  width: 21%;
  text-align: center;
}
* body #wrapper main #contenu #genreDetailSection a figure {
  transition: transform 0.2s;
}
* body #wrapper main #contenu #genreDetailSection a figure img {
  width: 100%;
  border-radius: 20px;
}
* body #wrapper main #contenu #genreDetailSection a figure:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
* body #wrapper main #contenu form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3e5eb2;
  align-items: center;
  margin: 17vh auto;
  padding: 97px;
  border-radius: 30px;
}
* body #wrapper main #contenu form p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
* body #wrapper main #contenu form p input {
  padding: 5px;
  margin: 10px 0 20px 0;
}
* body #wrapper main #contenu form p #photo {
  width: 67%;
}
* body #wrapper main #contenu form p #submitButton {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
* body #wrapper main #contenu form p #submitButton:hover {
  color: #3e5eb2;
}
* body #wrapper main #contenu .leafletMap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 30px;
}
* body #wrapper main #contenu .leafletMap #map {
  z-index: 0;
  height: 70vh;
  width: 80%;
}
* body #wrapper main #contenu .leafletMap .contactInfo {
  width: 55%;
  padding: 0 30px;
}
* body footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 4px #000000;
}
* body footer .infos {
  margin: 24px;
}
* body footer .infos ul {
  display: flex;
  list-style: none;
}
* body footer .infos ul li {
  padding: 10px;
}
* body footer .infos ul li a {
  text-decoration: none;
  color: black;
}
* body footer .infos ul li a:hover {
  color: #3e5eb2;
}
* body footer .socials {
  padding: 10px;
  margin: 24px;
}
* body footer .socials a {
  color: black;
  text-decoration: none;
  font-size: x-large;
}
* body footer .socials a:hover {
  color: #3e5eb2;
}/*# sourceMappingURL=style.css.map */