*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;

    body{

        header{
            display: flex;
            width: 100%;
            justify-content: space-around;
            box-shadow: 2px 2px 4px #000000;
            padding: 10px;
            align-items: center;

            
            nav{
                display: flex;
                align-items: center;

                figure{
                    width: 15%;
                    margin-right: 25px;
                    img{
                        width: 100%;
                    }
                }

                ul{
                    display: flex;
                    list-style: none;

                    li{
                        padding: 10px;

                        a{
                            text-decoration: none;
                            color: black;
                        }
                    }

                    #dropdown{
                        position: relative;
                        display: inline-block;

                        button{
                            padding: 10px;
                            font-size: 16px;
                            border: none;

                        }
                        #dropdownContent{
                            display: none;
                            position: absolute;
                            background-color: #f1f1f1;
                            min-width: 160px;
                            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                            z-index: 1;

                            a{
                                color: black;
                                padding: 12px 16px;
                                text-decoration: none;
                                display: block;

                            }
                        }
                        &:hover #dropdownContent{
                            display: flex;
                            position: absolute;
                            background-color: white;
                            box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
                            flex-direction: column;
                        }

                    }
                }

            }

            form{
                display: flex;
                flex-direction: row-reverse;
                align-items: center;

                input{
                    padding: 5px;
                    border-radius: 6px;
                }

                #search{
                    border: solid 1px grey;
                    position: absolute;
                }

                input[type="search"]::-webkit-search-decoration,
                input[type="search"]::-webkit-search-cancel-button,
                input[type="search"]::-webkit-search-results-button,
                input[type="search"]::-webkit-search-results-decoration {
                -webkit-appearance:none;
}

                #submitButton{
                    display: none;
                }

                .fa-magnifying-glass{
                    position: relative;
                    right: 6px;
                    color: grey;
                }
                
                

            }

        }

        #wrapper{
            main{
                #contenu{
                    h1{
                        text-align: center;
                        margin-top: 30px;
                    }

                    h2,.FeaturedMovies{
                        padding: 25px 85px;
                    }

                    .FeaturedMovies{
                        display: flex;
                        width: 100%;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;

                        a{
                            width: 21%;
                            text-decoration: none;
                            color: black;

                            figure{
                                width: 100%;
                                margin-bottom: 20px;
    
                                img{
                                    width: 100%;
                                    border-radius: 20px;
                                }
    
                                figcaption{
                                    text-align: center;
                                }
                            }
                        }
                    }
                
                    
                    .movieDesc {
                        display: flex;
                        justify-content: space-around;
                        height: 79vh;
                        width: 100%;

                        figure{
                            width: 25%;

                            img{
                                width: 100%;
                            }
                        }

                        .descrition{
                            width: 25%;
                            h1{
                                margin-bottom: 50px;
                            }

                            .movieCast{

                                .movieCastTitle{
                                    display: flex;
                                    align-items: center;
                                    margin-bottom: 10px;
        
                                    a{
                                        text-decoration: none;
                                        color: white;
                                        background-color: black;
                                        padding: 5px;
                                        border-radius: 5px;
                                        margin-left: 20px;
                                    }
                                }

                            }

                        }
                    }

                    #listActors{
                        display: flex;
                        flex-wrap: wrap;
                        height: 80vh;
                        align-items: center;
                        justify-content: center;

                        .actorInfo{
                            display: flex;
                            flex-direction: column;
                            margin: 10px;

                        }

                        a{
                            color: black;
                        }
                    }

                    #RolesSection{
                        display: flex;
                        flex-wrap: wrap;
                        height: 80vh;
                        align-items: center;
                        justify-content: center;

                        .roleList{
                            padding: 13px;
                        }
                    }

                    .producerSection{
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        height: 80vh;
                        align-items: center;
                        justify-content: center;

                        .producerList{
                            padding: 13px;
                        }
                    }

                    .genreSection{
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        height: 80vh;
                        align-items: center;
                        justify-content: center;

                        a{
                            padding: 13px;
                        }

                    }

                    #producerDetailSection{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        width: 100%;
                        height: 80vh;
                        padding: 13px;

                        figure{
                            width:30%;

                            img{
                                width: 100%;
                            }
                        }
                    }

                    #actorDetailSection{
                        display: flex;
                        justify-content: space-around;
                        height: 79vh;
                        align-items: center;
                        padding: 13px;

                        figure{
                            width: 25%;

                            img{
                                width: 100%;
                            }
                        }
                    }

                    #genreDetailSection{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-evenly;
                        width: 100%;
                        height: 71vh;
                        margin-top: 79px;


                        a{
                            width: 15%;
                            text-decoration: none;
                            color: black;

                            figure{
                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                    

                    form{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        // width: 25%;
                        background-color: beige;
                        align-items: center;
                        margin: 17vh auto;
                        padding: 97px;
                        border-radius: 30px;

                        p{
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            align-items: center;    
                            margin-bottom: 10px;

                            input{
                                padding: 5px;
                            }
                            #submitButton{
                                background-color: black;
                                color: white;
                                border: none;
                                padding: 10px;
                                border-radius: 5px;
                                cursor: pointer;
                            }

                        }
                    }
                    
                }
            }
        }

        footer{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            box-shadow: 2px 2px 4px #000000;

            .infos{
                margin: 24px;

                ul{
                    display: flex;
                    list-style: none;
                    li{
                        padding: 10px;

                        a{
                            text-decoration: none;
                            color: black;
                        }
                    }
                }
            }

            .socials{
                padding: 10px;
                margin: 24px;

                a{
                    color: black;
                    text-decoration: none;
                    font-size: x-large;
                }
            }
        }
    }

}
