*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;

    body{

        header{
            display: flex;
            width: 100%;
            justify-content: space-around;
            box-shadow: 2px 2px 4px #000000;

            nav{
                ul{
                    display: flex;
                    list-style: none;

                    li{
                        padding: 10px;

                        a{
                            text-decoration: none;
                            color: black;
                        }
                    }
                }

            }

            a{
                text-decoration: none;
                padding: 10px;
                color: black;
            }
        }

        #wrapper{
            main{
                #contenu{
                    h1{
                        text-align: center;
                        margin-top: 30px;
                    }

                    h2,.FeaturedMovies{
                        padding: 25px 85px;
                    }

                    .FeaturedMovies{
                        display: flex;
                        width: 100%;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;

                        a{
                            width: 21%;
                            text-decoration: none;
                            color: black;

                            figure{
                                width: 100%;
                                margin-bottom: 20px;
    
                                img{
                                    width: 100%;
                                    border-radius: 20px;
                                }
    
                                figcaption{
                                    text-align: center;
                                }
                            }
                        }
                    }
                
                    
                    .movieDesc {
                        display: flex;
                        justify-content: space-around;
                        height: 78vh;;
                        width: 100%;

                        figure{
                            width: 25%;

                            img{
                                width: 100%;
                            }
                        }

                        .descrition{
                            width: 25%;
                            h1{
                                margin-bottom: 50px;
                            }
                        }
                    }

                    #listActors{
                        display: flex;
                        flex-wrap: wrap;
                        height: 80vh;
                        align-items: center;
                        justify-content: center;

                        .actorInfo{
                            display: flex;
                            flex-direction: column;
                            margin: 10px;

                        }

                        a{
                            color: black;
                        }
                    }

                    #RolesSection{
                        display: flex;
                        flex-wrap: wrap;
                        height: 80vh;
                        align-items: center;
                        justify-content: center;

                        .roleList{
                            padding: 13px;
                        }
                    }

                    .producerSection{
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        height: 80vh;
                        align-items: center;
                        justify-content: center;

                        .producerList{
                            padding: 13px;
                        }
                    }

                    .genreSection{
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        height: 80vh;
                        align-items: center;
                        justify-content: center;

                        a{
                            padding: 13px;
                        }

                    }

                    #producerDetailSection{
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        width: 100%;
                        height: 80vh;
                        padding: 13px;

                        figure{
                            width:30%;

                            img{
                                width: 100%;
                            }
                        }
                    }

                    #actorDetailSection{
                        display: flex;
                        justify-content: space-around;
                        height: 70vh;
                        align-items: center;
                        padding: 13px;

                        figure{
                            width: 25%;

                            img{
                                width: 100%;
                            }
                        }
                    }

                    #genreDetailSection{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        height: 79vh;
                        align-items: center;
                        width: 100%;

                        a{
                            text-decoration: none;
                            color: black;
                            
                            figure{
                                width: 12%;
                                justify-content: space-evenly;
    
                                img{
                                    width: 100%;
                                }  
                            }
                        }

                    }
                }
            }
        }

        footer{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            box-shadow: 2px 2px 4px #000000;

            .infos{
                margin: 24px;

                ul{
                    display: flex;
                    list-style: none;
                    li{
                        padding: 10px;

                        a{
                            text-decoration: none;
                            color: black;
                        }
                    }
                }
            }

            .socials{
                padding: 10px;
                margin: 24px;

                a{
                    color: black;
                    text-decoration: none;
                    font-size: x-large;
                }
            }
        }
    }

}
